@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Questrial&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply !border-slate-200 dark:!border-dark;
}

html {
    @apply scroll-smooth;
}

*::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
}

*::-webkit-scrollbar-thumb {
    @apply rounded bg-slate-400;
}

*::-webkit-scrollbar-track {
    @apply !bg-transparent;
}

body {
    @apply font-questrial bg-main-bg text-slate-700 dark:bg-main-dark dark:text-slate-300;
}

/* General Styles */
.modal a.active:not(.logo),
.modal a:not(.sub-menu li a, .logo):hover {
    @apply relative rounded-lg bg-primary/20 text-primary before:absolute before:h-full before:w-1 before:left-0 before:bg-primary;
}

.btn {
    @apply px-4 py-[0.35rem] rounded-lg transition-a sm:cursor-pointer capitalize flex-shrink-0;
}

.btn-primary {
    @apply bg-primary text-white hover:bg-[#9355eb];
}

.btn-secondary {
    @apply bg-secondaryGreen text-white hover:bg-[#129d83];
}

.status.Active,
.status.Ongoing {
    @apply bg-secondaryGreen/20 text-secondaryGreen rounded-full px-2 py-[2px];
}
.status.Inactive,
.status.Expired {
    @apply bg-secondaryRed/20 text-secondaryRed rounded-full px-2 py-[2px];
}

/* Back to top button */
.back-to-top-btn {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.back-to-top-btn.active {
    opacity: 1;
    visibility: visible;
}

.input-admin {
    @apply border-gray-300 block w-full dark:border-gray-700 dark:bg-dark-light dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm;
}

.input-home {
    @apply !border-gray-700 bg-dark-light block w-full text-gray-300  focus:border-indigo-600  focus:ring-indigo-600 rounded-md shadow-sm;
}

/* Other styles */
.icon-box {
    @apply grid flex-shrink-0 rounded-full w-9 h-9 place-items-center text-muted hover:bg-slate-200 dark:hover:bg-hover-color-dark transition-colors sm:cursor-pointer;
}

.card {
    @apply p-4 bg-white border rounded-lg card-shadow dark:shadow-none dark:bg-card-dark dark:border-dark;
}

.card-bordered {
    @apply border dark:border-dark;
}

.dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out;
}

.profile:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Loader */
.loader {
    @apply w-20 h-20 border-4 border-primary rounded-full;
    border-block-start-color: transparent;
    animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/* Modal */
.modal a {
    @apply text-muted;
}
.modal.open,
.dialog.open {
    @apply translate-x-0 opacity-100 pointer-events-auto;
}

/* Media queries */
/* For Navbar */
@media (max-width: 1024px) {
    .navbar {
        width: 100vw !important;
    }
}

/* Sidebar Submenu */
.sub-menu {
    @apply transition-a h-0 overflow-hidden;
}

.sub-menu li {
    @apply relative sm:cursor-pointer before:absolute before:w-2 before:h-2 before:border before:rounded-full before:-left-5 before:top-1/2 before:-translate-y-1/2 before:border-slate-300 dark:before:border-slate-500;
}

.sub-menu li a {
    @apply block py-2;
}

.sub-menu li.active {
    @apply before:border-0 before:bg-primary;
}

.sub-menu li:hover a,
.sub-menu li.active a {
    @apply text-primary;
}

/* Table */
.table-wrapper {
    @apply border-collapse text-[#717382] dark:text-slate-300 w-full rounded-lg;
}

.table-wrapper tr {
    @apply table-row;
}

.table-wrapper td {
    @apply py-2 px-[0.4rem] text-left border-t border-t-table dark:border-t-dark-light;
}

.table-wrapper th {
    @apply py-2 px-[0.4rem] text-left font-bold;
}

table.table.table-striped tbody tr:nth-child(odd) {
    @apply bg-[#eff3ff] dark:bg-hover-color-dark;
}

table.table.table-striped td {
    @apply !border-none;
}

.table-bordered th,
.table-bordered td {
    @apply border border-table dark:border-dark-light;
}

/* Datatables */
.dataTables_filter,
.dataTables_length {
    @apply mt-5;
}

.dataTables_filter input,
.dataTables_length select {
    @apply !outline-none !rounded-lg dark:!border-dark-light focus:!border-primary dark:focus:!border-primary;
}

.dataTables_length select {
    @apply !w-20;
}

.dataTables_paginate .paginate_button {
    background-image: none !important;
    @apply !border-none;
}

.dataTables_paginate .paginate_button.next:hover,
.dataTables_paginate .paginate_button.previous:hover {
    @apply !text-inherit;
}

.dataTables_paginate .paginate_button:not(.previous, .next):hover {
    @apply !border-none !bg-primary;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    @apply !border-none !bg-primary !text-white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    @apply !text-white;
}

/* ---------------------------------------------------Home Section------------------------- */
.nav-menu a {
    @apply relative w-fit before:absolute before:w-1/2 before:h-[2px] before:bg-primary before:left-0 before:-bottom-1 before:scale-0 before:transition-a hover:before:scale-100 hover:text-primary transition-a;
}

.nav-menu a.active {
    @apply before:scale-100 text-primary;
}

.how i::before {
    font-size: 5rem !important;
}

.services img {
    @apply relative before:absolute before:w-14 before:h-14 before:bg-primary/20 before:rounded-full before:transition-a;
}

footer a {
    @apply hover:ml-1 hover:text-primary transition-a;
}
